.blog{
  &--best{
    position: relative;
    margin: 0;

  }
}

.blog__inner{
.inner();
}
.blog__ordinary{
  .edges();
}
.blog__best-description{
  .edges();
}
.blog__marker{
  position: absolute;
  right: 20px;
  top: 0;
  padding: 10px 21px 9px 20px;
  color: #ffffff;
  font-family: @font;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #d22856;
}

.blog__img {
  display: block;
  width: 100%;
  height: auto;
}

.blog-wrapper{
  margin-bottom: 20px;
  padding-bottom: 28px;
  padding-top: 0;
  background-color: #f2f2f2;

}

.blog__string{
display: flex;
padding-top: 23px;
}

.blog__title{
  padding: 0;
  margin: 0;
  font-family: @font;
  font-size: 14px;
  font-weight: 700;
  color: #283645;
}

.blog__timer{
  margin: 0;
  padding: 0;
  font-family: @font;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #79818a;
}

.blog__text{
  font-family: @font;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
.blog__like-btn{
  width: 13px;
  height: 12px;
}
.blog__like-link{
  font-family: @font;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
}
