.contacts {
  position: relative;
  padding-top: 50px;
  text-align: center;
}

.contacts__triangle {
  position: absolute;
  width: 100%;
  height: 105px;
  z-index: 1;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

// errorbm
.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__title {
  width: 225px;
  margin: 0  auto;
  margin-top: 38px;
  margin-bottom: 35px;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
}

.contacts__name {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  color: #283645;
  font-size: 18px;
  font-weight: 700;
}

.contacts__info {
  width: 293px;
  margin: 0 auto;
  // margin-bottom: 29px;
  padding: 0;
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
}

@media (min-width: 659px), (max-width: 990px) {
  .contacts__triangle {
    height: 88px;
    background-size: 125% 100%;
  }
}

@media (max-width: 659px) {
  .contacts {
    padding-top: 5px;
  }

  .contacts__title {
    margin-bottom: 33px;
  }

  .contacts__item {
    &:first-child {
      padding-top: 5px;
    }

    &--email {
      padding-left: 6px;
    }

    &--address {
      .contacts__name {
        margin-bottom: 6px;
      }
    }
  }

  .contacts__info {
    margin-bottom: 25px;
  }

  .contacts__name {
    &--email {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 6px;
    }
  }

  .contacts__triangle {
    height: 48px;
    background-size: 131% 100%;
  }
}

@media (min-width: 660px) {
  .contacts {
    padding-top: 10px;
  }

  .contacts__title {
    width: 376px;
    margin-bottom: 45px;
    color: #283645;
    font-size: 40px;
    font-weight: 300;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 660px;
    margin: 0 auto;
    // padding-left: 62px;
    // padding-right: 62px;
  }

  .contacts__item {
    &:last-child {
      margin-top: 39px;

      .contacts__info {
        width: 212px;
      }
    }
  }

  .contacts__info {
    margin-bottom: 10px;

    &--phone {
      padding-right: 23px;
    }

    &--email {
      padding-left: 10px;
      box-sizing: border-box;
    }
  }

  .contacts__name {
    margin-bottom: 9px;

    &--phone {
      padding-right: 26px;
    }

    &--email {
      padding-left: 8px;
    }
  }
}

@media (min-width: 960px) {
  .contacts {
    padding-top: 24px;
    z-index: 4;
  }

  .contacts__title {
    width: 466px;
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 40px;
  }

  .contacts__list {
    justify-content: space-between;
    width: 950px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .contacts__item {
    margin-top: 17px;
    padding-left: 0;

    &:first-child {
      margin-right: 15px;
      padding-left: 9px;
    }

    &:last-child {
      margin-top: 17px;
      padding-right: 56px;
      box-sizing: border-box;
    }

    &--email {
      order: 3;
    }

    &--address {
      .contacts__name {
        padding-right: 0;
      }
    }
  }

  .contacts__info {
    margin-top: 25px;

    &--email {
      width: 100%;
      padding-right: 32px;
    }
  }

  .contacts__name {
    &--email {
      padding-right: 34px;
    }
  }
}
