.download-app__list{
  display: flex;
  justify-content: space-between;
  width: 207px;
  margin-top: 32px;
  padding: 0;
  list-style: none;
}

.download-app__link {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  &--apple {
    background-image: url("../img/logo-apple.svg");
    width: 47px;
    height: 56px;
  }

  &--google {
    background-image: url("../img/logo-android.svg");
    width: 43px;
    height: 47px;
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
    width: 44px;
    height: 41px;
  }
}
