.footer {
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer__index {
  display: none;

  .footer__inner {
    padding-top: 55px;
  }
}

.footer-developed {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  padding-left: 17px;
  text-align: center;
  font-family: @font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  color: #283645;
}

.footer-developed svg {
  fill: #d22856;
}

.footer-developed:hover svg {
  fill: #283645;
}

.footer-developed:active svg {
  opacity: 0.3;
}

@media (min-width: 660px) {
  .footer {
    &--form {
      padding-top: 88px;
    }
  }

  .footer__photo {
    padding-top: 36px;
  }

  .footer__inner {
    width: 656px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-left: 20px;
    box-sizing: border-box;
  }

  .footer-developed {
    margin: 0;
  }

  .footer__index {
    display: block;
    padding: 40px 0;

    .footer__inner {
      padding-top: 0;
    }
  }
}

@media (min-width: 960px) {
  .footer {
    &--form {
      padding-top: 0;
    }

    .footer__inner {
      padding-top: 63px;
      padding-bottom: 10px;
    }
  }

  .footer__inner {
    width: 979px;
    margin: 0 auto;
    padding: 70px 0 87px;
    align-items: center;
  }


  .footer__photo {
    margin-top: 0;
    padding-top: 36px;
  }

  .footer-developed {
    font-size: 18px;
    padding: 0;
    padding-top: 11px;
  }

  .footer__index {
    padding-top: 64px;
  }
}
