.header {
  width: 100%;
  padding: 23px 0 0;

  &--open {
    background-color: #283645;
  }

  &--closed {
    background-color: rgba(#283645, 0.80);
  }
}

.header__inner {
  // padding-right: 19px;
}

@media (min-width: 660px){
  // header__inner{
  //   padding-right: 40px;
  // }
}
@media (min-width: 960px) {
  .header {
    display: flex;
    align-items: baseline;
    padding: 6px 0 0;
  }

  .header__inner{
    width: 947px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
@media (max-width:959px) {
  .header{
    &--nojs{
      background-color: #283645;
    }
  }
}
