.header {
  width: 100%;
  padding: 23px 0 0;
  background-color: #283645;
  @media (min-width: 960px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0; // opacity: 0.3;
    box-sizing: border-box;
  }
}

.header__inner {
  .inner();
}
