.header-navigation{
}
.header-navigation__wrapper{
  display: flex;
  justify-content: space-between;
  .edges();
}

.header-navigation__logo{
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
  align-items: center;
}


.header-navigation__trigger{
  align-self: flex-start;
  padding: 0;
  background-color: transparent;
  border: none;
}

.header-navigation__trigger-pic{
&--open{
  display: none;
}
}
