
.information__inner{
  .inner();
  .columns();
}

.information__text {
  width: 220px;
  margin: 0 auto 40px;
  text-align: center;
  color: #283645;
  font-family: @font;
  font-size: 24px;
  font-weight: 300;
}

.information__wrapper {
  position: relative;
  padding-top: 30px;
  text-align: center;
  background-color: #f2f2f2;
}

.information__features {
  margin-top: 40px;
}

.information__pic {
  margin-top: 45px;
}

.information__features-name {
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.information__features-description{
  width: 252px;
  font-family: @font;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;
}
