.information{
  overflow: hidden;
}
.information__inner {
  .inner();
  .columns();
}

.information__text {
  width: 220px;
  margin: 0 auto 23px;
  text-align: center;
  color: #283645;
  font-family: @font;
  font-size: 24px;
  font-weight: 300;

  &--short {
    width: 345px;
    margin-bottom: 0px;
  }
}

.information__wrapper {
  position: relative;
  margin-top: 37px;
  padding-top: 47px;
  text-align: center;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 101% auto;

}

.information__features {
  margin-top: 12px;
  margin-bottom: 0px;

  &--biggest {
    display: none;
    width: 896px;
    margin: 0 auto;
    text-align: right;
  }
}

.information__features-name {
  position: relative;
  margin-bottom: 0;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;

}

.information__features-description {
  width: 272px;
  margin-bottom: 0;
  font-family: @font;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;
}

.information__diagram-wrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 1000px;
  margin: 0 auto;
  background-image: url("../img/icon-editor-diagram-fill.svg"), url("../img/icon-timer.svg");
  background-repeat: no-repeat;
  background-size: 253px 253px,298px 345px;
  background-position: 64px 75px,40px 10px;
  padding-bottom: 60px;


  &::before {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 220px;
    height: 220px;
    content: "24";
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 120px;
    line-height: 96px;
    font-weight: 700;
    color: #d22856;
    top: 93px;
    left: 80px;
    padding-top: 55px;
    box-sizing: border-box;
  }
}

.information__diagram {
  background-color: #f2f2f2;
  display: none;
}

.information__diagram-name {
  margin: 0;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 25px;
}

.information__diagram-text {
  width: 525px;
  padding-top: 100px;
  margin-right: 66px;
}

.information__diagram-description {
  width: 525px;
  margin: 24px 0 36px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: #283645;
  line-height: 30px;
}

.information__diagram-link {
  color: #d22856;
  text-decoration: underline;
  width: 530px;
  font-size: 18px;
  font-weight: 400;
}
@media(min-width: 660px) {
  .information__inner {
    padding-right: 39px;
    padding-top: 60px;
  }

  .information__text {
    width: 595px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 300;
    &--short{
      width: 345px;
    }
  }


  .information__wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0;
  }

  .information__features {
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
  }

  .information__features-description {
    text-align: left;
    width: 100%;
  }
}
@media(min-width: 960px) {
  .information{
    padding-top: 77px;
  }
  .information__inner {
    padding-top: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0;
    width: 934px;
    margin: 0 auto;
  }

  .information__text {
    font-size: 50px;
    font-weight: 300;
    width: 800px;

    &--short {
      width: 400px;
    }
  }
.information__wrapper{
  margin-top: 40px;
}
  .information__features {
    position: relative;
    top: -60px;
    width: 300px;
    text-align: center;
    padding-left: 33px;
    padding-right: 33px;
    box-sizing: border-box;

    &--biggest {
      display: block;
    }
  }

  .information__features-name {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 32px;
    width: 230px;
  }

  .information__features-description {
    text-align: center;
    margin-top: 0;
    font-size: 18px;
    margin-right: 90px;
  }

  .information__diagram {
    display: block;
    padding-bottom: 67px;
  }
}

.information__pic {
  display: block;
  margin: 0 auto;
  margin-top: 37px;

  &--tab {
    display: none;
  }

  &--desk {
    display: none;
    @media(min-width: 960px) {
      display: block;
      margin-bottom: 60px;
      height: 300px;
    }
  }
  @media(min-width: 660px) {
    &--tab {
      position: relative;
      margin-top: 0;
      width: 280px;
      height: auto;
      padding-right: 40px;
      display: block;
      margin-left: 20px;
      @media(min-width: 960px) {
        display: none;
      }
    }

    &--mob {
      display: none;
    }
    width: 268px;
  }
}
