.intro {
  margin-bottom: 50px;
}

.intro-photo {
  display: block;
}

.intro__inner {
  .columns();
}

.intro__index {
  position: relative;
  display: block;
  min-height: 395px;
  @media (max-width: 660px) {
    width: 280px;
    margin: 0 auto;
  }
  &::before{
    position: absolute;
    content: "";
    width: 258px;
    height: 286px;
    bottom: 0;
    left: -20px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: 258px 286px;;
    }

  }

}

.intro__app {
  padding-top: 28px;
  padding-bottom: 15px;
  .edges();
  text-align: center;
  background-color: #1d2631;
}

.intro__title {
  margin: 0;
  padding: 35px 30px 87px;
  color: #ffffff;
  font-family: @font;
  font-size: 24px;
  font-weight: 300;
  text-align: center;

  &--unvisible {
    display: none;
  }
}

.intro__description {
  margin-top: 54px;
  padding: 0 15px;
  color: #283645;
  font-family: @font;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;

  &--index {
    color: #ffffff;
    line-height: 24px;
    margin-top: 0px;
    width: 270px;
  }
}
.intro__download-app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 275px;
  color: #ffffff;
  font-family: @font;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 40px;

  &:hover {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    color: #f1becc;
  }
}

  @media(min-width: 660px) {
    .intro {
      display: flex;
      margin-bottom: 34px;
    }
    .intro__index{
      &::before{
        background-image: url("../img/iphone-hand-tablet@1x.png");
        background-size: cover;
        background-position: bottom;
        width: 635px;
        height: 545px;
        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/iphone-hand-tablet@2x.png");
        }

      }
    }
    .intro__inner {
      background-color: #ffffff;
      align-items: center;

      &--colorless {
        background-color: transparent;
      }
    }

    .intro__wrapper {
    }

    .intro__app {
      background-color: transparent;
      padding-left: 0;
      padding-bottom: 120px;
      padding-top: 93px;
      z-index: 4;
    }

    .intro__title {
      display: block;
      width: 348px;
      margin: 0 auto;
      padding-top: 71px;
      padding-bottom: 150px;
      // padding-left: 50px;
      font-size: 50px;

      &--unvisible {
        display: block;
        width: 186px;
        padding: 0px 0 39px;
        color: #ffffff;
        font-family: @font;
        font-size: 40px;
        font-weight: 300;
      }
    }

    .intro__description {
      padding: 86px 90px 80px;
      margin: 0;
      color: #283645;
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;

      &--index {
        width: 300px;
        font-size: 18px;
        padding-top: 19px;
        margin: 0;
        color: #ffffff;
      }
    }
  }
  @media(min-width: 960px) {
    .intro {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 0;
    }
.intro__index{
  &::before{
    width: 765px;
    box-sizing: border-box;
    right: -930px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }

  }
}
    .intro__inner {
      justify-content: center;
      align-items: center;
      background-color: transparent;
      &--colorless {
        padding-left: 130px;
      }
    }
    .intro__title {
      margin: 0 auto;
      padding-top: 60px;

      &--unvisible {
        width: 231px;
        margin-bottom: 10px;
        padding-top: 10px;
        font-size: 50px;
        line-height: 63px;
      }
      &--form{
        width: 759px;
      }
    }

    .intro__description {
      width: 600px;
      margin: 0 auto;
      color: #283645;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      padding: 100px 0 90px;
      &--index{
        padding-top: 0;
        color: #ffffff;
        line-height: 24px;
        margin-top: 14px;
        width: 320px;
        font-weight: 300;
      }
    }
  }
