.logo{
  width: 75px;
  height: 22px;
  background-image: url("../img/logo-pink-white-mobile.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;

  &--footer{
    display: block;
    width: 147px;
    height: 40px;
    margin: 0 auto;
    background-image: url("../img/logo-pink-blue-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
// .logo__pic{
//
// }
