.popup {
  display: none;
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 780px;
  height: 377px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  text-align: center;
}

.popup__name {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

.popup__description {
  width: 377px;
  margin: 0 auto;
  text-align: center;
  color: #283645;
  font-size: 18px;
  font-weight: 400;
}

.popup__btn-wrap{
  width: 100%;
  margin-top: 31px;
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 54px;

}
.popup__btn{
  width: 456px;
  height: 59px;
  color: #ffffff;
  font-size: 18px;
font-weight: 700;
line-height: 30px;
  background-color: #2aab6d;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
