.review {
  padding-top: 46px;
}

.review__slider {
  padding-top: 40px;
}

.review__slider-toggle {
  display: flex;
  justify-content: space-between;
  width: 54px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.review__slider-list {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  list-style: none;
}

.review__buttons {
  display: none;
}

.review__slider-name {
  width: 165px;
  margin: 0 auto;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.review__slider-text {
  width: 279px;
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.reivew__slide {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #283645;
    opacity: 0.3;
    border-radius: 50%;
    bottom: -260px;
    left: -3px;
  }

  &--slide1 {
    &::before {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      bottom: -263px;
      left: -3px;
      background-color: transparent;
      border: 3px solid #283645;
      opacity: 1;
    }
  }
}

.reivew__slide-active:checked > .review__slide {
  &::before {
    background-color: red;
  }
}

.review__slider-info {
  display: none;
}

@media (max-width: 659px) {
  .review__slider {
    padding-top: 42px;
  }

  .review__slider-text {
    margin-top: 13px;
  }

  .review__slide {
    &::before {
      left: -2px;
    }
  }
}

@media (min-width: 660px) {
  .review__slider-list {
    width: 100%;
  }

  .review__slider-item {
    display: flex;
    flex-direction: column;
  }

  .review__slider-name {
    width: auto;
    order: 2;
    color: #283645;
    font-size: 20px;
    line-height: 30px;
  }

  .review__slider-info {
    display: block;
    color: #283645;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }

  .review__slider-text {
    width: auto;
    margin-top: 24px;
    margin-bottom: 35px;
    color: #283645;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  .review__slider {
    padding-top: 46px;
  }

  .reivew__slide::before {
    bottom: -255px;
  }

  .reivew__slide--slide1::before {
    bottom: -256px;
  }

  .price__slide::before {
    display: none;
  }
}

@media (min-width: 960px) {
  .review {
    margin-bottom: 21px;
  }

  .review__slider {
    position: relative;
    padding-top: 186px;

    &::before {
      position: absolute;
      content: "";
      width: 79px;
      height: 63px;
      left: 47%;
      top: 73px;
      background-image: url("../img/icon-quotes.svg");
    }
  }

  .reivew__slide {
    &::before {
      display: none;
    }
  }

  .review__slider-text {
    position: relative;
    width: 688px;
    margin: 0 auto 35px;
  }

  .review__slider-name {
    font-size: 24px;
  }

  .review__slider-info {
    font-size: 18px;
  }

  .review__buttons {
    display: block;
  }

  .review__button {
    position: absolute;
    top: 212px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &--right {
      right: 198px;
    }

    &--left {
      left: 198px;
    }
  }

  .review__button-img {
    fill: #bec3c7;
    width: 22px;
    height: 41px;
  }
}
