.wrapper-description {
  padding-left: 17px;
  padding-right: 17px;
}
@media (min-width: 660px) {
  .wrapper-description {
    &--best {
      display: flex;
      flex-wrap: wrap;
      padding-left: 27px;
    }
  }
}
